<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %></head>
<body>
	<% include partials/menu %>
<div class="container-fluid">
	<div class="spborder">
		<h3><%= page %></h3><br>
	<form id='pform' action="/plyr/addplayer" method="POST">

		<!-- Add back in code -->

		<div class="form-group">	
			<label for="pname"><b>Player Name (Shown In Game, What Other Playes See)</b></label><br/>
			<input class="form-control" placeholder="Enter Player Name" id='name' name="name" value='' autofocus required>
		</div>

		<div class="form-group">	
			<label for="fname"><b>First Name</b></label><br/>
			<input class="form-control" placeholder="Enter First Name" id='fname' name="fname" value='' autofocus required>
		</div>
		<div class="form-group">	
			<label for="lname"><b>Last Name</b></label><br/>
			<input class="form-control" placeholder="Enter Last Name" id='lname' name="lname" value='' autofocus required>
		</div>
		<div class="form-group">
			<label for="email"><b>Email</b></label><br/>
			<input class="form-control" placeholder="Enter Email" id='email' name="email" value='' autofocus required>
		</div>
		<div class="form-group">	
				<label for="bdate"><b>Birthdate</b></label><br/>
				<input class="form-control" placeholder="Enter Birthdate" id='bdate' name="bdate" value='' autofocus required>
		</div>
		<div class="form-group">
			<label for="psw"><b>Password</b></label><br/>
			<input type="password" class="form-control" placeholder="Enter Password" id='pwd' name="pwd" value='' >
		</div>
		<div class="form-group">
			<label for="hscore"><b>High Score</b></label><br/>
			<input class="form-control input-sm" id='hscore' name="hscore" value='' autofocus readonly>
		</div>
		<div class="form-row text-center">
			<div class="col-12">	
			<button type="submit" class="btn btn-primary float-md-left" onclick="saveMe()">Save</button>
			<button type="button" class="btn btn-primary" onclick="history.back()">Cancel</button>
			<button type="button" class="btn btn-primary float-md-right" onclick="deleteMe()">Reset</button>
			</div>
		</div>
	</form><br>
	<form id="delfrm" action="/plyr/deleteplayerbyid" method="post">

		<!-- Add back in code -->

	</form>
	</div>
	<% include partials/footer %>
</div>
<% include partials/script %>
<script>
gBasepath = null;
gDBState = null;
$( document ).ready(function() {
	gBasepath = getBasepath();
	/*
	if( $('#docid').val() == null || $('#docid').val() === '' || $('#docid').val() === undefined ) {
		gDBState = 'add';
	} else {
		gDBState = 'edit';
		document.getElementById('pform').action = '/plyr/updateplayer';
		getUserData();
	}
	*/
});

function saveMe() {		// add player
	$('#pdd').val( sessionStorage.getItem('searchin_token') );
	$('#pform').submit();
}

function deleteMe() {
	$('#ddd').val( sessionStorage.getItem('searchin_token') );
	$('#delfrm').submit();
/*
	$.ajax({
		url: gBasepath + '/plyr/deleteplayerbyid',
        dataType:'text',
		type:'post',
		headers: {"Authorization": 'Bearer '+ sessionStorage.getItem('searchin_token')},
        data: { 'docid':$('#docid').val() }    
	})
    .done( function( data, textStatus, jQxhr ) {
		window.location = '/plyr/playerlist';
    })
    .fail( function( jqXhr, textStatus, errorThrown ) {
            console.log( errorThrown );
            alert( textStatus + ", " + errorThrown )
	});
*/	
}

function getUserData() {
	$.ajax({
		url: gBasepath + '/plyr/getplayerbyid',
        dataType:'text',
		type:'post',
		headers: {"Authorization": 'Bearer '+ sessionStorage.getItem('searchin_token')},
        //data: { 'docid':$('#docid').val() }    
	})
    .done( function( data, textStatus, jQxhr ) {
		var jp = JSON.parse(data);
		$('#name').val(jp.name);
		$('#email').val(jp.email);
		//$('#hscore').val(jp.hscore);
		$('#bdate').val(jp.bdate);
		//$('#psw').val(jp.pwd);
    })
    .fail( function( jqXhr, textStatus, errorThrown ) {
            console.log( errorThrown );
            alert( textStatus + ", " + errorThrown )
	});
}
</script>
</body>
</html>