<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../stylesheets/style.css">
	<script src="../javascripts/jquery-3.3.1.min.js"></script>
	<script src="../bootstrap/js/bootstrap.min.js"></script>
</head>
<body onload="chkReq()">
<div class="container-fluid text-center">
	<div class="spborder">
	<h4>SearchAbility Login</h4>
	<form id='lform' action="/login" method="POST">
		<div class="form-group">	
			<label for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" id="uname" name="uname" autofocus required>
			</div>	
			<div class="form-group">
			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" id="psw" name="psw" required>
		</div>
		<p><button id="lbtn" type="button" class="btn btn-primary" onclick="auth()">Login</button></p>
		<p><input type="checkbox" checked="checked" name="remember" disabled> Remember Me</p>
		<p class="psw"><a href="#">Forgot Password?</a></p>
	</form>
	<form id="tfrm" action="/index" method="POST">
		<input type="hidden" id="htt" name="htt" value="" />
	</form>
	<% include partials/footer %>
	</div>
</div>
<script src="../javascripts/global.js"></script>
<script>
// onload="chkReq()"

var gBasepath = null;
function auth() {
	gBasepath = getBasepath();
	$.ajax({
  		url: gBasepath + '/auth',
        //crossDomain: true,
		dataType:'json',
		type:'POST',
		data: { 'uname':$('#uname').val(), 'psw':$('#psw').val() }
	})
    .done( function( data, textStatus, jQxhr ) {
		if(data.state == true) {
			sessionStorage.setItem('searchin_token', data.htt);
			$('#htt').val(data.htt);
			$('#tfrm').submit();
		}
    })
    .fail( function( jqXhr, textStatus, errorThrown ) {
		console.log( errorThrown );
		alert( textStatus + ", " + errorThrown )
	});
}

function chkReq() {
	if( sessionStorage.getItem('searchin_token') ) {
		//alert( "check session");		
		sessionStorage.removeItem('searchin_token');
	}
}

$(function(){
  $('#psw').keypress(function(e) {
    if(e.which == 13) {
		$('#lbtn').focus();
		$('#lbtn').click();
    }
  });
});
/*
function loadLogin() {
	gBasepath = getBasepath();
	$.ajax({
		url: gBasepath + '/login',
		dataType:'text',
		type:'post',
		beforeSend: function(jqXhr) {
			//let a = 'Bearer '+ sessionStorage.getItem('searchin_token');
			//jqXhr.setRequestHeader('Authorization', a);
			jqXhr.setRequestHeader('Authorization', 'Bearer '+ sessionStorage.getItem('searchin_token'));
		},
		data: { 'uname':$('#uname').val(), 'psw':$('#psw').val() }    
	})
	.done( function( data, textStatus, jQxhr ) {
		console.log( 'SUCCESS: SENT TOKEN' );
		//jQxhr.setRequestHeader('Authorization', 'Bearer '+ sessionStorage.getItem('searchin_token'));
		var t = sessionStorage.getItem('searchin_token')
		if( t !== null ) {
			$('#ttoken').val(sessionStorage.getItem('searchin_token'));
			$('#tokfrm').submit();
		} else {
			alert('Please Login to Searchin');
		}
	})
	.fail( function( jqXhr, textStatus, errorThrown ) {
		console.log( textStatus + ", " + errorThrown  );
	});
}
*/
</script>
</body>
</html>
