<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="container-fluid md-2">
	<h4><%= page %></h4>
	<button type="button" class="btn btn-primary btn-vertical-bmargin" onclick="addUser()" >Add User</button>
	<table id="usertable" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<button type="button" class="btn btn-primary btn-vertical-bmargin" onclick="addUser()" >Add User</button>
	<% include partials/footer %>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">SearchAbility Admin Users</div>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="uform" action="" method="POST">
                    <input type="hidden" id="docid" name="docid" value="" />
                    <div class="form-group">	
                        <label for="uname"><b>Username</b></label><br/>
                        <input class="form-control" placeholder="Enter Username" id='uname' name="uname" value='' autofocus >
                    </div>
                    <div class="form-group">	
                        <label for="email"><b>Email</b></label><br/>
                        <input class="form-control" placeholder="Enter Email" id='email' name="email" value='' autofocus required>
                    </div>
                    <div class="form-group">	
                            <label for="comment"><b>Comment</b></label><br/>
                            <input class="form-control" placeholder="Enter Comment" id='comment' name="comment" value='' autofocus required>
                    </div>
                    <div class="form-group">	
                            <label for="bdate"><b>Birthdate</b></label><br/>
                            <input class="form-control" placeholder="Enter Birthdate" id='bdate' name="bdate" value='' autofocus required>
                    </div>
                    <div class="form-group">
                        <label for="psw"><b>Password</b></label><br/>
                        <input type="password" class="form-control" placeholder="Enter Password" id="psw" name="psw" value='' >
                    </div>
                    <p>Press <i>Save</i> to proceed. The account should be created. You must then <b>login into that account</b> from the login screen to get a Token to use this new account.</p>
                    <div class="form-row text-center">
                        <div class="col-12">	
                        <button type="button" class="btn btn-primary float-md-left" onclick="ajaxMe( 1 )">Save</button>
                        <button type="button" class="btn btn-primary" onclick="$('#myModal').modal('hide');">Cancel</button>
                        <button type="button" class="btn btn-primary float-md-right" onclick="$('#msgBox').modal('show');">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
	</div>
</div>
<!-- Modal -->
<div id="msgBox" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button><br>
          <h4 id="magBoxTitle" class="modal-title">Delete User</h4>
        </div>
        <div class="modal-body">
          <p>Delete This User?.</p>
        </div>
        <div class="modal-footer">
            <button type="button" id="btnOk"  class="btn btn-success" onclick="ajaxMe( 3 );">OK</button>  
            <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
  
    </div>
  </div>

<% include partials/script %>
<script>
var gBasepath = getBasepath();
var gDTable = null;
var gID = null;
var gApiPath = null;
$(document).ready(function() {
    gDtable = $('#usertable').DataTable( {
		ajax: {
			url: '/api/users',
			dataSrc: '',
			headers: {"Authorization": 'Bearer '+ sessionStorage.getItem('searchin_token')}
		},
		"columns": [
            { "data": "_id", "width" : "20%" },
			{ "data": "name" }
		],
		"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		"pageLength": 25
    });
});

// add empty player form
function addUser() {
    gApiPath = gBasepath + '/api/adduser';
    gClearForm( $('#uform') );
    $('#psw').attr('readonly', false);

    $('#myModal').modal({
        backdrop: 'static',
        keyboard: false
	});    
}

// selection
$("#usertable").on("dblclick", "tr", function(e) {
    gApiPath = gBasepath + '/api/updateuser';
	gID = $(this).children(':first').html();
    $('#psw').attr('readonly', true);

    getUserData( gID );

    $('#myModal').modal({
        backdrop: 'static',
        keyboard: false
	});
});

// *** API CALLS ***
function ajaxMe( action ) {	    // handles add, update, delete
    let ddata = null;
    if( action === 1 ) {        // 1 is valid for add and edit, gApiPath are set in events
        ddata = $('#uform').serialize();
    } else {
        $('#msgBox').modal('hide');
        gApiPath = gBasepath + '/api/deleteuserbyid';
        ddata = {'docid':gID};    
    }
    
    $.ajax({
		url: gApiPath,
		type:'post',
        dataType:'json',
		headers: {"Authorization": 'Bearer '+ sessionStorage.getItem('searchin_token')},
        data: ddata
    })
    .done( function( data, textStatus, jQxhr ) {
        if( textStatus == 'success' ) {
            $('#myModal').modal('hide');
            gDtable.ajax.reload();
        }
    })
    .fail( function( jqXhr, textStatus, errorThrown ) {
            console.log(xhr, resp, text);
            alert( textStatus + ", " + errorThrown )
    });
}

/*
function saveMe() {		// add or edit user
    $.ajax({
		url: gApiPath,
		type:'post',
        dataType:'json',
		headers: {"Authorization": 'Bearer '+ sessionStorage.getItem('searchin_token')},
        data: $("#uform").serialize()
    })
    .done( function( data, textStatus, jQxhr ) {
        if( textStatus == 'success' ) {
            $('#myModal').modal('hide');
            gDtable.ajax.reload();
        }
    })
    .fail( function( jqXhr, textStatus, errorThrown ) {
            console.log(xhr, resp, text);
    });
}

function deleteMe() {
	$.ajax({
		url: gBasepath + '/api/deleteuserbyid',
        dataType:'json',
		type:'post',
		headers: {"Authorization": 'Bearer '+ sessionStorage.getItem('searchin_token')},
        data: { 'docid':gID }    
	})
    .done( function( data, textStatus, jQxhr ) {
        if( textStatus == 'success' ) {
            $('#myModal').modal('hide');
            gDtable.ajax.reload();
        }
    })
    .fail( function( jqXhr, textStatus, errorThrown ) {
        console.log( errorThrown );
        alert( textStatus + ", " + errorThrown )
	});
}
*/

function getUserData( id ) {
	$.ajax({
		url: gBasepath + '/api/getuserbyid',
        dataType:'json',
		type:'post',
        headers: {"Authorization": 'Bearer '+ sessionStorage.getItem('searchin_token')},
        data: { 'docid': id }
	})
    .done( function( data, textStatus, jQxhr ) {
        $('#docid').val(id);
		$('#uname').val(data.name);
		$('#email').val(data.email);
		$('#comment').val(data.comment);
		$('#bdate').val(data.bdate);
		$('#psw').val(data.pwd);
    })
    .fail( function( jqXhr, textStatus, errorThrown ) {
        console.log( errorThrown );
        alert( textStatus + ", " + errorThrown )
	});
}
</script>
</body>
</html>